$primary-font: "KharkivTone", "Arial", sans-serif;
$secondary-font: "Montserrat", "Arial", sans-serif;

//colors
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-dark-gray: #b0b0b0;
$color-black:#100b0b;
$color-paynes-grey: #404041;

//viewports
$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1600: 1600px;
