.hero {
  position: relative;
  z-index: 4;
  height: auto;
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 23px;
  padding-top: 47px;
  min-height: 800px;

  @media (min-width: $vp-1024) {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    padding-top: 50px;
    padding-bottom: 32px;
    min-height: 700px;
  }

  @media (min-width: $vp-1440) {
    grid-template-columns: minmax(692px, 1fr) 1fr;
  }
}

.hero__title {
  max-width: 500px;
  grid-row: 2;
  margin-bottom: 90px;
  font-size: 24px;
  text-align: center;

  @media (min-width: $vp-1024) {
    grid-row: 1;
    grid-column: 1;
    align-self: start;
    margin-bottom: 70px;
    max-width: none;
    font-size: 40px;
    text-align: start;
  }
}

.hero__wrapper {
  max-width: 246px;

  @media (min-width: $vp-1024) {
    grid-row: 1;
    grid-column: 2;
    max-width: 396px;
    justify-self: end;
  }
}

.hero__logo {
  display: block;

  @media (min-width: $vp-1024) {
    width: 396px;
    height: 77px;
  }
}

.hero__descr {
  font-size: 16px;
  line-height: 1em;
  text-align: end;
  color: $color-default-white;

  @media (min-width: $vp-1024) {
    font-size: 24px;
  }
}
