.wrapper-content {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 40vh;
    left: 0;
    right: 0;
    display: block;
    width: 100vw;
    height: 800px;
    background-image: url("../../images/hero/hero-icon.svg");
    background-repeat: no-repeat;
    background-position: left 65% top;
    background-size: cover;

    @media (min-width: $vp-768) {
      background-position: left 70% top;
    }

    @media (min-width: $vp-1024) {
      top: 35vh;
      background-position: left 50% top;
    }

    @media (min-width: $vp-1440) {
      top: 24vh;
    }
  }

  //фон с аниацией webp

  // background-color: $color-black-pearl;
  // background-image: url("../../images/hero/hero-icon.svg"), url("../../images/hero/chain.webp");
  // background-repeat: no-repeat, no-repeat;
  // background-position: left 65% top 45vh, center center;
  // background-size: cover, cover;


  // @media (min-width: $vp-768) {
  //   background-color: $color-black-pearl;
  //   background-image: url("../../images/hero/hero-icon.svg"), url("../../images/hero/chain.webp");
  //   background-repeat: no-repeat, no-repeat;
  //   background-position: left 70% top 40vh, center center;
  //   background-size: cover, cover;
  // }

  // @media (min-width: $vp-1024) {
  //   background-color: $color-black-pearl;
  //   background-image: url("../../images/hero/hero-icon.svg"), url("../../images/hero/chain.webp");
  //   background-repeat: no-repeat, no-repeat;
  //   background-position: left 100% top 25vh, center center;
  //   background-size: cover, cover;
  // }
}

.wrapper-content__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
