.write {
  align-items: center;
  justify-content: center;
  padding: 35px 0 26px;
  border: none;
}

.write__descr {
  margin-bottom: 44px;
  font-size: 24px;
  line-height: 31px;
  color: $color-black;
}

.write__link {
  max-width: 220px;
}
